<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.monumentogram.dora.stage86.observer" android:versionCode="1" android:versionName="0.1-diagnostic">
  <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="36" />
  <application android:label="DORA diagnostic observer" android:allowBackup="false" android:debuggable="true" />
  <instrumentation android:name=".ProbeInstrumentation" android:targetPackage="com.monumentogram.dora.stage86.observer" android:functionalTest="true" />
</manifest>
